* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

:root {
  --nav-bg-color: #0b0434;
  --nav-font-color: #d3d3d3;
}

/* NavBar */
.nav-container {
  background: var(--nav-bg-color);
  color: var(--nav-font-color);
}

.nav {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.list-logo {
  display: flex;
  align-items: center;
}

.ename {
  color: var(--nav-font-color);
  margin-left: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #91a7c5;
}

/* main content */

body {
  background-color: #e8e8f0;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-column {
  display: flex;
  flex-direction: column;  
}

.content {
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.headline {
  align-self: start;
  margin: 40px 10vw;
  color: #131315;
}

/* events list*/

.d-grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, auto);
  gap: 25px;
  width: 80vw;
  place-content: center;
}

.the_event {
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 10px #babec4;
  padding-bottom: 5%;
}

.image {
  width: 100%;
  height: 200px;
  /* Media query 
  min_width:1200px -> height: 60% */
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.event_info {
  width: 90%;
  align-items: center;
  justify-content: start;
  text-align: center;
  margin: 5%;
}

.event_name {
  font-size: 1em;
  color: #131315;
}

.event_genre,
.event_date {
  color: #6a7c94;
  margin: 1%;
}

.comment_btn {
  border-radius: 8px;
  border: none;
  background-color: #e6e4f8;
  color: #7848f4;
  font-weight: 600;
  padding: 6px 15px;
  margin: 2%;
}


/* footer */

footer {
  color: #6a7c94;
  background-color: #0b0434;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}


