* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #91a7c5;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

/* footer */

footer {
  color: #6a7c94;
  background-color: #0B0434;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  position: fixed;
  width: 100vw;
  bottom: 0;
}